@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --nav : #0f192e;
  --nav-secondary : #0C1424;
  --header : hsl(182, 43%, 76%);
  --background1 : #f2f2f2;
  --background2 : #eee8e8;
  --background3 : #dcd5d5;
  --background4 : #f1f5f8;
  --background-body : hsl(0, 4%, 95%);
  --background-form : #fcfcfc;
  --background-form1 : #D8D8D8;
  --dark-red :#f44336;
  --red-secondary : #ff9800c2;
  --red-secondary2 : #ff9900;
  --red-light :#f44336bf;
  --light-blue : #2196f3c4 ;
  --dark-blue : #2195f3 ;
  --white : #FCFCFC;
  --shadow0 :   0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 2.3px 17.9px rgba(0, 0, 0, 0.072),
  0 1.8px 33.4px rgba(0, 0, 0, 0.086),
  0 50px 80px rgba(0, 0, 0, 0.12);
  --shadow1 :  0 10px 6px -6px #777;
  --transition: all .6s ease-out ;
}

::after,
::before,
*,** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none ;
}
a {
  all: initial;
  color: var(--white);
  width: 100%;
  cursor: pointer;
}
img {
  display: block;
  width:30px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background: var(--background4) ;
  font-family: 'Roboto', sans-serif;
  transition: var(--transition);
}
/* 
=== scroll bar ===
*/
body::-webkit-scrollbar,
.nav-list::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track,
.nav-list::-webkit-scrollbar-track-piece {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb,
.nav-list::-webkit-scrollbar-thumb {
  background: var(--light-blue);
  border-radius: .3rem; 
}
/* 
 ==== btn ==== 
*/
 .success-btn,
 .warning-btn,
 .danger-btn {
   background-clip: border-box;
   color: #fff;
   font-weight: 500;
   padding: .4rem;
   border-color: transparent;
   border-radius: .5rem;
   cursor: pointer;
   box-shadow: var(--shadow0);
 }
 .success-btn {
  background: var(--light-blue) ;
 }
 .success-btn:hover {
   background: var(--dark-blue);
 }
 .warning-btn {
  background: var(--red-secondary);
 }
 .warning-btn:hover {
   background: var(--red-secondary2);
 }
 .danger-btn {
  background: var(--red-light) ;
 }
 .danger-btn:hover {
   background: var(--dark-red);
 }
/* 
 ===== Nav =====
*/
.navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 4rem;
  background: var(--nav);
}

.nav-list {
  display: flex;
  overflow: hidden;
  align-items: center;
  overflow: auto;
}
.nav-list-item {
  flex-shrink:1 ;
  width: 100%;
 padding: 1rem 2rem;
 filter: grayscale(100%) opacity(0.5);
 cursor: pointer;
}
.nav-list-item:first-child {
  display: none;
}
.nav-list-item:last-child {
  margin-top: auto;
}
.nav-list-item:hover {
  background: var(--nav-secondary) ;
  filter: grayscale(0%) opacity(1) ;
}
.list-name {
  display: none;
}

/* 
 ====== Dashboard ======
*/
 .Dashboard {
  min-height: 100vh;
 }
 .Dashboard nav {
   padding: 1rem 4rem;
   margin-bottom: 1rem;
   background: var(--nav);
 }
 .Dashboard nav span {
   color: var(--white);
   font-size: 1.5rem;
   font-weight: 600;
   letter-spacing: .6ch;
   text-transform: uppercase;
 }
 .form-container {
   display: grid;
   place-content: center;
 }
 .form-card {
   position: relative;
   display: inline-block;
   padding: 1rem;
   width: fit-content;
   background: var(--background-form);
   border-radius: .5rem;
   -webkit-box-shadow: var(--shadow1);
   -moz-box-shadow: var(--shadow1);
   box-shadow: var(--shadow1);
 }

 .label-input, .title-input {
   position: relative;
   padding: .6rem;
   margin-bottom: 1.5rem;
   border-top: none;
   border-left: none;
   border-right: none;
   outline: none;
   transition: var(--transition);
 }
 .label-input:focus,
  .title-input:focus {
    border-color: var(--light-blue);
  }
 /*  place holder animation */
 .label-input + span
 , .title-input + span {
  padding: .3rem 1.3rem;
  pointer-events: none;
  position:absolute;
  left:0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:0.5;
 }

 .label-input:focus + span,
  .title-input:focus + span,
   .label-input:not(:focus):valid + span,
   .title-input:not(:focus):valid + span {
  opacity:1;
  transform: translateY(-75%);
  font-size: smaller;
  color: var(--light-blue);
}

/* For IE Browsers*/
 .label-input:focus + span,
  .title-input:focus + span,
   .label-input:not(:-ms-focus):valid + span,
   .title-input:not(:-ms-focus):valid + span  {
  opacity:1;
  transform:translateY(-75%);
  font-size: smaller;
  color: var(--light-blue);
}
.start-date, .dead-line {
   padding: .4rem;
   margin-bottom: 1rem;
   outline-color: var(--light-blue);
 }
.add-form {
   float: right;
   transition: var(--transition);
 }
.add-form:hover {
   box-shadow: none;
   border-radius: .1rem;
 }

 /* 
  ===== List(Task) Card ====== 
 */
 .listCard-continer {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
   place-content: center;
   margin-bottom:5rem;
 }
 .list-card {
   /* flex: grow shrink bias */
   flex: 0 1 1;
   padding: 1.5rem;
   margin: 2rem;
   width: 25rem;
   background: var(--background-form);
   border-radius: .5rem;
   -webkit-box-shadow: var(--shadow1);
   -moz-box-shadow: var(--shadow1);
   box-shadow: var(--shadow1);
 }
 .list-card .title {
   text-transform: capitalize;
 }
 .list-card .description > p {
   display: block;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
 }
 .list-card .counter {
   display: flex;
   justify-content: flex-end;
   margin: 1rem;
   font-weight: 700;
 }
 .list-card  button  {
   float: right;
   margin: .5rem;
   transition: var(--transition);
 }
 .list-card
.edit-btn:hover, .remove-btn:hover, .done-btn:hover {
  box-shadow: none;
  border-radius: .2rem;
 }

 /* 
  ==== Statics =====
 */
 .Statics {
  min-height: 100vh;
 }
 .Statics nav {
 padding: 1rem 4rem;
  margin-bottom: 1rem;
  background: var(--nav);
 }
.Statics nav span {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .6ch;
  text-transform: uppercase;
}
#date-select {
  padding: .4rem;
  cursor: pointer;
}
.select-date {
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  margin-bottom: 2rem;
}

/* 
  ==== Notification =====
 */
 .Notification {
  min-height: 100vh;
}
.Notification nav {
padding: 1rem 4rem;
 margin-bottom: 1rem;
 background: var(--nav);
}
.Notification nav span {
 color: var(--white);
 font-size: 1.5rem;
 font-weight: 600;
 letter-spacing: .6ch;
 text-transform: uppercase;
}
.Bar {
  background: var(--background-form);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.Bar:hover {
  background: var(--background-form1);
}
.Bar .content-text span{
  font-weight: 600;
}
.Bar .content-text span:last-child {
  font-weight: 300;
  font-size: 13px;
  padding-left: 1rem;
}

/* 
  ==== Account =====
 */
 .Account {
  min-height: 100vh;
}
.Account nav {
 padding: 1rem 4rem;
 margin-bottom: 1rem;
 background: var(--nav);
}
.Account nav span {
 color: var(--white);
 font-size: 1.5rem;
 font-weight: 600;
 letter-spacing: .6ch;
 text-transform: uppercase;
}
.warning {
  display: grid;
  place-content: center;
  opacity: 0.5;
}

/* 
  Setting
*/
.Setting {
  min-height: 100vh;
 }
 .Setting nav {
  padding: 1rem 4rem;
  margin-bottom: 1rem;
  background: var(--nav);
 }
.Setting nav span {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .6ch;
  text-transform: uppercase;
}
/* 
  @media 
*/
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    transition: all .6s ease-out .15s;
    overflow: auto;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar .list-name {
    display: block;
    opacity: 0;
    letter-spacing: 0.3ch;
    text-transform: capitalize;
    transition-delay: .1s;
    transition: opacity .4s ease-in-out;
  }
  .navbar .logo-text {
    opacity: 0;
    line-break: strict;
    margin-left: 1rem;
    text-transform: uppercase;
    letter-spacing: 3ch;
    font-size: 1rem;
    font-weight: bold;
    transform: translateX(-15%);
    transition: transform .5s  ease-in-out,
                opacity .3s ease;
  }
  .navbar:hover .logo-text {
    opacity: 1;
    transform: translateX(0%);
  }
  .navbar:hover .list-name {
    opacity: 1;
  }
  .nav-list {
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
  }
  .nav-list-item {
    padding: 1.5rem 2rem 1.5rem 5rem;
  }
  .nav-list-item:first-child {
    display: block;
    margin-bottom:1.5rem;
    background:#01070f ;
    transition: var(--transition);
  }
  .navbar:hover .nav-list-item:first-child img {
    animation: rotator  1.5s ease-in-out .2s;
  }
  .nav-list-item a {
    display: flex;
    align-items: center;
  }
  .nav-list-item a .list-name {
    padding-left: 1rem;
  }
  /* nav in each section */
  .Dashboard nav,
  .Statics nav,
  .Account nav,
  .Notification nav,
  .Setting nav
   {
    padding: 1rem 2.5rem;
  }
  .Dashboard, .Account,
  .Statics,.Notification, .Setting {
    padding:0 0 0 5rem ;
  }
   
  .listCard-continer {
    grid-template-columns: auto auto;
  }
}
/* 
for significantly small devices
*/
@media only screen and (min-width: 400px) {
  .list-card .show-time {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg) ;
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(10deg) ;
  }
  75% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(0deg);
  }
}